.agregar-producto {
  background: var(--light-gray);
  padding: 3rem 0;
}

.agregar__form {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 0 auto;
}

.agregar__form-input {
  width: 20rem;
  margin: 0.5rem 0;
  padding: 1rem 1rem;
  color: var(--dark-gray);
  font-size: 1rem;
}

.agregar__form-textarea {
  width: 20rem;
  margin: 0.5rem 0;
  padding: 1rem 1rem;
  color: var(--dark-gray);
  font-size: 1rem;
}

::placeholder {
  color: var(--gray);
  padding-left: 1rem;
  position: relative;
  vertical-align: top;
}

.agregar__form-btn {
  padding: 1rem;
  font-size: 1rem;
  border-radius: 1px;
  width: 22rem;
}

@media screen and (max-width: 1000px) {
  .agregar__form {
    width: auto;
    margin: 1rem 2rem;
  }
}

@media screen and (max-width: 768px) {
}
