.home__banner {
  /* background: url("../assets/banner-image.png"); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 50vh;
  color: white;
  padding: 0 0;
}

.home__banner-inside {
  height: 50%;
  padding-top: 10%;
  line-height: 2rem;
  margin: 0 7rem;
}

.home__banner-title {
  font-size: 3rem;
  font-weight: 600;
  padding: 1rem 0;
}

.home__banner-subtitle {
  font-size: 1.2rem;
  font-weight: 600;
}

.home__banner-btn {
  margin: 1rem 0;
  padding: 1rem 0.7rem;
  font-size: 1rem;
  border-radius: 2px;
}

@media screen and (max-width: 1000px) {
  .home__banner {
    height: auto;
    background-position: right;
  }

  .home__banner-inside {
    margin: 0 2rem;
  }
}

@media screen and (max-width: 768px) {
  .home__banner {
    width: auto;
  }
}
