.catalogo {
  background: var(--light-blue);
  padding-top: 2rem;
}
.catalogo__header {
  display: flex;
  line-height: 2;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  margin: 0 1rem;
  padding: 1rem 0;
}

.catalogo__title {
  font-size: 2rem;
}

.catalogo__btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 2px;
}

.catalogo__btn-txt {
  color: white;
  text-decoration: none;
}

.catalogo__lista {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  grid-area: "productos";
  width: 100%;
  margin: 0 2rem;
}

.producto {
  display: grid;
  grid-area: "producto";
  grid-template-areas: "foto" "data";
  grid-template-columns: 100%;
  grid-template-rows: 173px auto;
  margin-right: 1rem;
  width: calc(15%);
}

.producto__foto {
  grid-area: "foto";
}

.producto__data {
  text-align: left;
  line-height: 1.5;
  padding: 0.5rem 0;
}

.producto__nombre {
  color: var(--dark-gray);
}

.producto__precio {
  font-weight: 600;
}

.producto__id {
  color: var(--gray);
  font-weight: 700;
  text-decoration: none;
}

.search-invalid {
  border: 2px solid;
  border-color: red;
  padding: 1rem;
}

.error-msg {
  color: red;
  padding: 1rem;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .catalogo__header {
    width: 90%;
    margin: 0 2rem;
  }
  .catalogo__lista {
    width: 95%;
    margin: 0 auto;
    justify-content: space-around;
  }
  .producto {
    width: 25%;
    height: 100%;
    margin-right: 0;
    margin-bottom: 2rem;
    grid-template-rows: 120px auto;
  }
  .producto__foto-pic {
    width: auto;
  }

  .producto__data {
    height: 100%;
    padding: 0.1rem;
    margin-top: 4rem;
  }
}

@media screen and (max-width: 768px) {
  .home__productos-cards {
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
  }
  .producto {
    width: 50%;
    margin-right: 0;
    margin-bottom: 1.5rem;
    grid-template-rows: 200px auto;
  }
  .producto__foto-pic {
    width: 13rem;
    height: auto;
  }

  .producto__foto {
    height: auto;
    width: auto;
    margin: 0 auto;
  }

  .producto__data {
    height: auto;
    text-align: center;
    margin-top: 1rem;
  }
}
