.footer {
  background: var(--light-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.home__contacto {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2rem 0;
}

.home__contacto-logo {
  vertical-align: middle;
  margin: auto 0;
  width: 15%;
}

.home__contacto-logo-2 {
  display: none;
}

.home__contacto-list {
  padding: 2rem 2rem;
  text-align: left;
  width: 25%;
  font-size: 1.2rem;
}

.footer__list-item {
  padding: 1rem 0;
}

.home__contacto-form {
  width: 60%;
  margin-top: 3%;
}

.contacto__form {
  width: 80%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.contacto__form-title {
  font-weight: 600;
}

.contacto__form-nombre {
  margin: 1rem 0;
  padding: 1rem;
}

.contacto__mensaje {
  padding-top: 1rem;
}

.contacto__submit {
  margin: 1rem 0;
  width: 25%;
  padding: 1rem 0.5rem;
  border-radius: 2px;
  font-size: 1.1rem;
}

.footer__footer {
  background: white;
}

.input-container {
  margin: 0 0;
}

@media screen and (max-width: 1000px) {
  .home__contacto-logo {
    display: none;
  }

  .home__contacto-logo-2 {
    display: inline;
  }

  .home__contacto {
    padding: 1rem 0;
  }

  .home__contacto-form {
    height: auto;
  }

  .contacto__submit {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 768px) {
  .home__contacto {
    padding: 1rem 0;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
  }

  .home__contacto-logo-2 {
    margin-left: 2rem;
  }

  .home__contacto-list {
    /* text-align: center; */
    padding: 0;
    width: 100%;
    margin: 1rem auto;
  }

  .footer__list {
    width: 100%;
  }

  .footer__list-item {
    width: 100%;
    margin-left: 2rem;
  }

  .home__contacto-form {
    justify-content: space-around;
    height: auto;
    width: 100%;
    margin: 0 auto;
  }
  .contacto__form {
    margin: 0 auto;
  }

  .input-container {
    width: 100%;
  }

  .contacto__form-title {
    text-align: center;
  }
  .contacto__submit {
    font-size: 0.8rem;
    width: 10rem;
  }
}
