.fondo {
  background: var(--light-gray);
}
.producto__detalle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 3rem;
  padding: 3rem 0;
}

.producto__detale-pic {
  width: 50%;
  height: 20rem;
  object-fit: contain;
}

.producto__detalle-txt {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: auto 2rem;
  padding-bottom: 2rem;
}

.producto__detale-title {
  font-size: 3rem;
}

.producto__detalle-precio {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 1rem 0;
}

.producto__detalle-parrafo {
  line-height: 1.5;
  font-size: 1rem;
  color: var(--gray);
  font-weight: 700;
}

@media screen and (max-width: 1000px) {
  .producto__detalle {
    margin: 0 1rem;
    justify-content: space-between;
    padding: 3rem 0;
  }

  .fondo {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .producto__detalle {
    flex-direction: column;
    justify-content: center;
  }

  .producto__detale-pic {
    margin: 0 auto;
    width: 100%;
  }

  .producto__detalle-txt {
    text-align: left;
    margin: 2rem auto;
  }
}
